<html>

<ul>

<li>Internal Hostname: <%=@internal_hostname %>></li>
<li>OS Namwe: <%=@os_name %></li>
<li>System Uptime: <%=@uptime %> </li>
<li>Memory Available: <%=@memory_available %></li>

</ul>

</html>
